<form>
	<input type="number" placeholder="Enter parent ID" #pid>
	<input type="text" placeholder="Enter some data" #data>
	<button (click)="add(pid.value,data.value)">Add node</button>
</form>

<ul class="tree">
    <li *ngFor="let node of nodes" [class.selected]="node === selectedNode" (click)="onSelect(node)">
      <span class="id">ID#{{node.id}}, PID#{{node.parent}}</span>
      <span class="data">{{node.data}}</span>
    </li>
</ul>

 <node-detail [node]="selectedNode" (deleteNode)="deleteNode($event)" (saveNode)="saveNode($event)"></node-detail>